.page-container.dashboard-page {
  background-image: url(../../../assets/images/background/wide_screen_bg.png);
  background-position: center;
  background-size: cover;
}

.top-stage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  position: relative;
}

.buttons-container {
}

.prompt__bubble-speech.dashboard-page {
  width: 70%;
  min-width: 48rem;
  min-height: 20rem;
  /* background-image: url(../assets/images/icons/Speech_bubble_white.png); */
  background-image: url(../../../assets/images/icons/Speech_bubble_white.png);
  background-size: 100% 105%;
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 600px) {
  .prompt__bubble-speech.dashboard-page {
    min-width: 100%;
  }
}

/* Animation typing text */
.type_effect--dash {
  position: relative;
  font-size: 2.3rem;
}

.type_effect--dash.quote {
}

.type_effect--dash::before,
.type_effect--dash::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type_effect--dash::before {
  background: rgb(255, 255, 255);
  animation: typewriter 3s steps(24) 1s forwards;
}

.type_effect--dash::after {
  width: 0.125em;
  background: black;
  animation: typewriter 3s steps(24) 1s forwards, blink 750ms steps(24) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: rgba(0, 0, 0, 0.72);

  &:hover,
  &:focus {
    color: teal;
  }
}

input::placeholder {
  font-size: 18px;
}

.turnon-image {
  position: absolute;
  right: 10%;
  top: 25%;
  background-image: url(../../../assets/images/icons/switch_on_pixelv4.png);
  background-repeat: no-repeat;
  width: 10%;
  height: 10rem;
  background-size: contain;
  cursor: pointer;
}

.turnon-image:hover {
  background-image: url(../../../assets/images/icons/switch_on_hover_vol.2.png);
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .turnon-image {
    right: -15px;
    top: 25%;
    width: 15%;
  }
}

.submit-btn#enter {
  margin-right: 3rem;
  margin-bottom: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starts-container1 {
  width: 6rem;
  height: 30rem;
  /* background-color: green; */
  /* background-color: green; */
  margin-bottom: 10rem;
  /* margin-right: -7rem; */
  /* margin-top: 1rem; */
  /* z-index: 1; */
  margin-left: -30rem;
  padding-right: 25rem;
}

.starts-container2 {
  width: 6rem;
  height: 24rem;
  background-color: red;
  margin-bottom: 10rem;
  /* margin-left: -7rem; */
  /* z-index: 1; */

  /* transform: rotate(90deg); */
  /* opacity: 0.5; */
}

.motivation-star {
  width: 6rem;
  height: 6rem;
  background-image: url(../../../assets/images/icons/start_pixeled_vol3.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.motivation-star:hover {
  width: 6rem;
  height: 6rem;
  background-image: url(../../../assets/images/icons/start_pixeled_vol3_hover.png);
}

/* hide the starts according to the condition from row 187-212 dash.jsx*/
.motivation-star.hidden,
.motivation-star:hover.hidden {
  opacity: 0;
}
