.tasuku-page {
  background-image: url(../../../assets/images/background/room_background.jpg);
  background-size: cover;
  background-position: center;
}

.bg-frame {
  width: 100%;
  min-height: 65rem;

  display: grid;
  place-items: end center;

  background-image: url(../../../assets/images/background/todo_screen_updated.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg-frame__content {
  position: relative;
  display: grid;
  place-items: center;
  gap: 3rem;
  margin-bottom: 5rem;
}

.tasuku-bubble {
  background-image: url(../../../assets/images/icons/login_bubble.png);
  background-size: 100% 120%;
  min-height: 15rem;
}

.prompt__bubble-speech.tasuku-bubble > .title {
  font-size: 2rem;
}
.user-input {
  background-color: transparent;
  border: 0;
  border-bottom: 4px black dotted;
  outline: none;
  width: 90%;
  padding-left: 1rem;
  font-size: 3rem;
}

.user-input::placeholder {
  font-size: 2.5rem;
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 800px) {
  .bg-frame {
    background-size: cover;
  }

  .bg-frame__content {
    gap: 2rem;
    margin-bottom: 6rem;
  }

  .user-input {
    width: 90%;
  }
}
