.figure_container {
  display: grid;
  place-items: center;
}

.figure {
  width: 100%;

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: url(../assets/images/figure/kichi_figure.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#hover-me:hover {
  /* Animation Figure*/
  animation: pulse 3s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .figure {
    width: 80%;
  }
}
