/* Login page container modification */
.page-container.login-page {
  background: linear-gradient(to left bottom, #ffffff00, rgba(0, 0, 0, 0.3)),
    url(../assets/images/background/Login_image_wide.png);
  background-position: right;
  background-repeat: no-repeat;
}

/* Login form modification */
.form-container.login-form {
  max-width: 70rem;
}

/* Bubble chat modification */
.prompt__bubble-speech.login-page {
  min-height: 20rem;
  background-image: url(../assets/images/icons/login_bubble.png);
  background-position: center;
}
