/* PRIMARY BUTTON */
.primary-btn {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 5rem;
  border: 3px solid black;
  transition: all 0.2s;
}

.primary-btn:hover {
  font-size: 3rem;

  box-shadow: 1rem 0.4rem 0 rgb(0, 0, 0);
  transform: translate(-0.4rem, -0.4rem);
  border: dotted black 4px;
}

.primary-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.primary-btn.signup-btn:hover {
  background-color: #cbced1;
}
.primary-btn.login-btn:hover {
  color: azure;
  background-color: #e081c0;
}

.primary-btn.tasuku-btn:hover {
  background-color: #ffff00;
}

.primary-btn.set-tasuku-btn {
  font-size: 2rem;
  margin-block-start: 2rem;
}

.primary-btn.set-tasuku-btn:hover {
  font-size: 2.3rem;
  background: #8aa9df90;
  color: white;
  text-shadow: 4px 3px 0px #6a6a6a;
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 600px) {
  .primary-btn {
    font-size: 1.8rem;
  }
  .primary-btn:hover {
    font-size: 2.2rem;
  }

  .primary-btn.signup-btn {
    padding-inline: 3.5rem;
  }
}
