/* PRIMARY BUTTON */
.primary-btn {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 5rem;
  border: 3px solid black;
  transition: all 0.2s;
}

.primary-btn:hover {
  font-size: 3rem;

  box-shadow: 1rem 0.4rem 0 rgb(0, 0, 0);
  transform: translate(-0.4rem, -0.4rem);
  border: dotted black 4px;
}

.primary-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.primary-btn.signup-btn:hover {
  background-color: #cbced1;
}
.primary-btn.login-btn:hover {
  color: azure;
  background-color: #e081c0;
}
