* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'retro-gaming';
  transition: all 300ms ease;
}

:root {
  --transition: all 400ms ease;
}

@font-face {
  font-family: 'retro-gaming';
  src: url(/src/assets/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

body {
  background-color: cornsilk;
}

/* ############################ 
              LAYOUTS  
  #############################*/

/* PAGE CONTAINER  */
.page-container {
  height: 100vh;
  display: grid;
  place-items: center;
}

/* FORM CONTAINER */
.form-container {
  width: 90%;
  max-width: 60rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-inline: 1rem;
  padding-block-end: 1rem;

  border-radius: 20px;
  box-sizing: border-box;
  background: rgba(236, 240, 243, 0.184);
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 30px white;
  position: relative;
}

/* FORM'S INPUTS BOX  */
/* contain the inputs fields and the submit button */

.form-inputs-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

/* inputs selectors for the forms */
.form__input {
  text-align: left;
  border: 3px solid black;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
  font-size: 2.5rem;
  width: 100%;
  padding: 0.5rem 2rem;
}

/* background color in input field helps to be able to read the error message  */
.input-field {
  background-color: #242424;
}

/* Error message by typing wrong or missing information */
.input-field > small {
  color: #ff5e5e;
  text-shadow: 1px 1px #000000;
  font-size: 1.3rem;
  padding-inline-start: 1rem;
}

/* ##### Reusable components ##### */

/* BUBBLE CHAT */
/* Bubble chat - container */
.prompt__bubble-speech {
  display: grid;
  place-items: center;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  padding-block-start: 1.4rem;
}

/* Bubble chat - prompt */
.prompt__bubble-speech > .title {
  font-size: 2.8rem;
  text-align: center;
  margin-block-end: 4rem;
}

/* SHIFTER BUTTON */
.shifter-btn {
  width: 8rem;
  height: 8rem;

  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0.5rem;
}

/* KICHIS LOGO */
/* todo export this feature to a separate component */
.kichi-logo {
  position: absolute;
  right: -10rem;
  top: -10rem;

  height: 15rem;
  width: 15rem;

  background: url('../src/assets/images/figure/Kich_pixel.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: dotted 5px black;
  background-color: #dfe9f3;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 0px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .kichi-logo {
    right: -4%;
    top: -5%;
  }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 600px) {
  .top-stage {
    gap: 2rem;
  }

  .prompt__bubble-speech {
    background-size: 100% 90%;
  }

  .prompt__bubble-speech > .title {
    width: 90%;
    font-size: 2.3rem;
  }

  .shifter-btn {
    width: 6rem;
    height: 6rem;
  }

  .kichi-logo {
    right: -5%;
    top: -1%;
    width: 10rem;
    height: 10rem;
  }
}
