* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: 'retro-gaming';
  transition: all 300ms ease;
}

:root {
  --transition: all 400ms ease;
}

@font-face {
  font-family: 'retro-gaming';
  src: url(/src/fonts/Retro_Gaming.ttf);
  font-style: normal;
}

html {
  /* width: 100vw; */
}

body {
  /* height: 100vh; */
  background-color: cornsilk;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
