/* background page  */
.page-container.registration-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url(../assets/images/background/welcome_image.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* main container  */

.prompt__bubble-speech.registration-page {
  background-image: url(../assets/images/icons/Speech_bubble_upside_down.png);
  padding-block-start: 1.4rem;
}

.prompt__bubble-speech.registration-page > .title {
  margin-top: 9.5rem;
}

.brand-logo {
  position: absolute;
  right: -10rem;
  top: -10rem;

  height: 15rem;
  width: 15rem;

  background: url('../assets/images/figure/Kich_pixel.png');
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-sizing: border-box;
  border: dotted 5px black;
  background-color: #dfe9f3;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 0px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px;
}

.form-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.input-field {
}

.form-input {
  width: 100%;

  border: 3px solid black;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

input.form-input {
  font-size: 2.5rem;
}

/*---------- Buttons --------*/

.submit-btn.reg {
  max-width: 20rem;
  max-height: 5rem;
  width: 100%;

  cursor: pointer;
  font-size: 200%;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  box-shadow: 0 0 0 black;
  transition: all 0.2s;
}

.submit-btn.reg:last-child {
  margin: 0;
}

.submit-btn.reg:hover {
  font-size: 2.3rem;
  background: #dfe9f3;
  box-shadow: 0.4rem 0.4rem 0 rgb(255, 255, 255);
  transform: translate(-0.4rem, -0.4rem);
  border: dotted black 4px;
  text-shadow: 4px 3px 0px #fefefe;
}

.submit-btn:active {
  box-shadow: 0 0 0 black;
  transform: translate(0, 0);
}

.input-field > small {
  display: flex;
  color: #ff0000;
  font-size: 1.3rem;

  margin: 0;
  padding-left: 2px;
}

.input-field > .submit-btn {
  margin-top: 2rem;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .brand-logo {
    right: -4%;
    top: -5%;
  }
}

/* ===================== MEDIA QUERIES (SMALL DEVICES) ========================= */
@media screen and (max-width: 600px) {
  .brand-logo {
    right: -5%;
    top: -1%;
    width: 10rem;
    height: 10rem;
  }
}
