@font-face {
  font-family: 'Press Start 2p';
}

.continue {
  width: 250px;
  height: 50px;
  font-size: 20px;
}

/*! Plus Minus Btns */

.video-game-button {
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
  -o-border-radius: 0.75em;
  -webkit-box-shadow: 0 0.2em maroon;
  -moz-box-shadow: 0 0.2em maroon;
  -o-box-shadow: 0 0.2em maroon;
  box-shadow: 0 0.2em maroon;
  background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
  background-image: -moz-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: -webkit-linear-gradient(
    left top,
    pink 3%,
    red 22%,
    maroon 99%
  );
  background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);

  font-size: 6rem;
  z-index: 1;
  padding: 5rem;
  border-radius: 100%;
  background-size: cover;
  cursor: pointer;
}

.video-game-button.plus {
  background-image: url(../../assets/images/icons/thumbs_up.png);
}

.video-game-button.plus:hover {
  background-image: url(../../assets/images/icons/thumbs_up_hover_vol2.png);
}

.video-game-button.minus {
  background-image: url(../../assets/images/icons/thumbs_down.png);
}

.video-game-button.minus:hover {
  background-image: url(../../assets/images/icons/thumbs_up_hover_vol3.png);
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .video-game-button {
    padding: 4rem;
  }
}

.StartButton_container {
  width: 12%;
}

.start-btn {
  font-size: 20pt;
  font-family: 'Press Start 2p';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.video-game-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

/*! --------- SUBMIT BTN ---------------*/

.reg-icon {
  background-image: url(../../assets/images/icons/loginBtnvol1.png);
}

.reg-icon:hover {
  background-image: url(../../assets/images/icons/loginBtnvol1_hover.png);
}

.login-icon {
  background-image: url(../../assets/images/icons/login_icon_vol1.png);
}

.login-icon:hover {
  background-image: url(../../assets/images/icons/login_icon_vol3.png);
}

.returnIcon {
  background-image: url(../../assets/images/icons/home_icon.png);
  width: 6rem;
  height: 6rem;
  background-size: 100%;
  position: absolute;
  right: 0;
  bottom: 1rem;
  margin: 1rem;
}

.returnIcon:hover {
  background-image: url(../../assets/images/icons/home_icon_hover_vol1.png);
}

/* hide class to control the option to click*/
.hide {
  opacity: 0;
}
