@font-face {
  font-family: 'Press Start 2p';
}

.continue {
  width: 250px;
  height: 50px;
  font-size: 20px;
}

.StartButton_container {
  width: 12%;
}

.start-btn {
  font-size: 20pt;
  font-family: 'Press Start 2p';
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}
.video-game-button:active,
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

/*! --------- SUBMIT BTN ---------------*/

.reg-icon {
  background-image: url(../../assets/images/icons/loginBtnvol1.png);
}

.reg-icon:hover {
  background-image: url(../../assets/images/icons/loginBtnvol1_hover.png);
}

.login-icon {
  background-image: url(../../assets/images/icons/login_icon_vol1.png);
}

.login-icon:hover {
  background-image: url(../../assets/images/icons/login_icon_vol3.png);
}

/* hide class to control the option to click*/
.hide {
  opacity: 0;
}

/* ===================== MEDIA QUERIES (MEDIUM DEVICES) =========================*/
@media screen and (max-width: 1024px) {
  .video-game-button {
    padding: 4rem;
  }
}
